<div class="page-header">
    <h1><a href="#/home" ng-click="stopChat()">oMYgle</a></h1>
</div>

<div id="chat">
    <div class="row-fluid">
    <div ng-if="!searching && chatInProgress" class="well chattext">
        Say hi!<br>
        <span ng-repeat='msg in transcript'>
            <strong class="{{msg.participant}}">{{msg.participant}}:</strong> {{msg.txt}}<br>
        </span>
        <span id="bottom"></span>
    </div>
    <div ng-if="searching" class="well chattext">
        Searching for a conversation partner...
    </div>
    <div ng-if="!searching && !chatInProgress" class="well chattext">
        Finito.
    </div>
    </div>
    <div class="row-fluid">
    <div ng-if="chatInProgress" class="span1">
        <button ng-click="stopChat()" class="btn btn-primary btn-large">Stop</button>
    </div>
    <div ng-if="!chatInProgress" class="span1">
        <button ng-click="findNewPartner()" class="btn btn-primary btn-large">New</button>
    </div>
    <div class="span10">
        <textarea ng-model="inputText" ng-keydown="keydown($event)" type="text" placeholder="Chat:" class="span12" rows="2"></textarea>
    </div>
    <div class="span1">
        <button ng-click="sendMsg()" class="btn btn-primary btn-large">Send</button>
    </div>
    </div>
</div>